.selected{
    background-color: orange;
    transition: 0.3s ease-in-out;
}

.not-selected {
    background-color: grey;
    transition: 0.3s ease-in-out;
}

div {
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}